/*CSS for the Apex.js*/
/* body{
  font-family: Arial, Helvetica, sans-serif;
tml,
body,
#root,
.App {
  background-color: #282c34;
  align-items: center;
  flex-direction: column;
  display: flex;
}
li {
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 1%;
  font-size: large;
}
h3 {
  margin: 2%;
}
.App-logo {
  height: 25vmin;
  pointer-events: none;
  margin-bottom: 5%;
}
<<<<<<< HEAD

.container {
  margin: 70px auto;
  overflow: hidden;
  width: 80%;
  text-align: center;
} */

||||||| merged common ancestors

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
=======
.missionFlex {
  align-items: center;
  flex-direction: row;
  display: flex;
  margin: 1%;
}
.App-header {
  margin-right: auto;
  margin-left: auto;
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
>>>>>>> da31704fcc4842dc9603bcb073947a2c4aab9838

/*CSS for the charts.js*/
.chart {
  width: 25%;
  height: 50%;
} 
/* #bar {
  width: 5em;
  height: 2em;
}
#pie {
  width: 50px;
  height: 20px;
}
#line {
  width: 50px;
  height: 20px;
}*/
